body {
  margin: 0;
  padding: 0;
}

header {
  height: 560px;
  background-image: url('./image-hero.jpg');
}

a {
  color: hsl(0, 0%, 100%);
}

footer {
  background-color: hsl(0, 0%, 0%);
}

footer a, footer small {
  color: hsl(0, 0%, 55%);
}